
<div style="margin-left: 20em; margin-top: 7em;">
    <h1>La rentra de projet en 5 étapes !</h1>
<button type="button" class="btn btn-outline-primary" (click)="onMar()">ton acquisition</button>
<button type="button" class="btn btn-outline-secondary"  (click)="onMar()">Son financement</button>
<button type="button" class="btn btn-outline-success"  (click)="onMar()">Ses charges</button>
<button type="button" class="btn btn-outline-danger"  (click)="onMar()">Ses revenues</button>
<button type="button" class="btn btn-outline-warning"  (click)="onMar()">Sa fiscalité</button>
<div class="form-group">
<button type="button" class="btn btn-dark" (click)="retour()" style="margin-left: -20em;margin-top: -22em;"> <--retour au menu</button>
</div>