<div>
<button type="button" class="btn btn-dark" (click)="tretour()"> <-- retour au menu</button>
</div>
<button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: red;">Tableaau de bord</button>
<div style="margin-top: 30px; margin-left: 27em;">
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-body" style="background-color: black;">
      <h1 class="card-title">projet 1</h1>
      
    </div>
  </div>
  <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    
    <div class="card-body"  style="background-color: black;">
      <h1 class="card-title">Projet 2</h1>
     
    </div>
  </div>
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    
    <div class="card-body"  style="background-color: black;">
      <h1 class="card-title">Projet 3</h1>
     
    </div>
  </div>
</div>