<div class="row" style="margin-left: 27em;">
    <div class="col-sm-5 col-sm-offset-2">
      <h2>Créer un compte</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text"
                   id="Nom"
                   class="form-control"
                   formControlName="name">
          </div>
          <div class="form-group">
            <label for="name">Prénom</label>
            <input type="text"
                   id="Prenom"
                   class="form-control"
                   formControlName="name">
          </div>
          <label for="email">Adresse mail</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 formControlName="password">
        </div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="signupForm.invalid">Créer mon compte</button>
      </form>
      <p class="text-danger">{{ errorMessage }}</p>
    </div>
  </div>