<app-dossier></app-dossier>
<img src="../assets/image.png" style="width: 300px; height: 300px;margin-left: 15em;">
<h4 style="border: solid;color: black; margin-left: 24em;width: 10em;margin-top: -10em;border-radius: 1em;">
    Parlons de ton projet
</h4>
<h4 style="border: solid;color: black; margin-left: 27em;width: 13em;margin-top: 2em;border-radius: 1em;">
    quel est son prix de vente?
</h4>
<form (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="form-row align-items-center" style="margin-left: 45em;margin-top: 2em;">
      <div class="col-auto">
        <input type="text" class="form-control mb-2" id="inlineFormInput" formControlName="price">
      </div>
      <div class="col-auto" >
        <button  class="btn btn-primary mb-2" style="background-color: black;" type="submit">
            Saisir le Prix</button>
      </div>
    </div>
  </form>