<app-dossier></app-dossier>
<div style="margin-top: -37px;margin-left: 53em;">
  <button type="button" class="btn btn-success" (click)="tour()">Dupliquer</button>
  <button type="button" class="btn btn-danger">Partager</button>
  <button type="button" class="btn btn-warning">Suprimer</button>
  </div>
  <form action="">
<div style="margin-top: 50px;">
<button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: black;">Synthése projet 1</button>
<h2 style="margin-left: 4em;">l'acquisition</h2>
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text col-14" style="background-color: black;color: aliceblue;">prix de vente</span>
    </div>
    <input type="text" style="margin-left: 18px;">
  </div>
  <div class="input-group input-group-lg" style="margin-top: 10px;">
    <div class="input-group-prepend">
      <span class="input-group-text col-11" style="background-color: black;color: aliceblue;">frais de notaire</span>
    </div>
    <input type="text">
  </div>
  <div style="margin-left: 25em;margin-top: -9em;">
    <h2 style="margin-left: 2em;">le financement</h2>
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text col-14" style="background-color: black;color: aliceblue;">prix de vente</span>
    </div>
    <input type="text" style="margin-left: 18px;">
  </div>
  <div class="input-group input-group-lg" style="margin-top: 10px;">
    <div class="input-group-prepend">
      <span class="input-group-text col-11" style="background-color: black;color: aliceblue;">frais de notaire</span>
    </div>
    <input type="text">
  </div>
  </div>
  <div style="margin-left: 50em;margin-top: -9em;">
    <h2 style="margin-left: 2em;">revenus générés</h2>
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text col-14" style="background-color: black;color: aliceblue;">prix de vente</span>
    </div>
    <input type="text" style="margin-left: 14px;">
  </div>
  <div class="input-group input-group-lg" style="margin-top: 10px;">
    <div class="input-group-prepend">
      <span class="input-group-text col-11" style="background-color: black;color: aliceblue;">frais de notaire</span>
    </div>
    <input type="text" style="margin-left: -1px;">
  </div>
  </div>
  <div style="margin-top: 5em;">
    <h2 style="margin-left: 3em;">les charges</h2>
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text col-14" style="background-color: black;color: aliceblue;">prix de vente</span>
    </div>
    <input type="text" style="margin-left: 18px;">
  </div>
  <div class="input-group input-group-lg" style="margin-top: 10px;">
    <div class="input-group-prepend">
      <span class="input-group-text col-11" style="background-color: black;color: aliceblue;">frais de notaire</span>
    </div>
    <input type="text">
  </div>
  </div>
  <div style="margin-left: 25em;margin-top: -9em;">
    <h2 style="margin-left: 3em;">fiscalités</h2>
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text col-14" style="background-color: black;color: aliceblue;">prix de vente</span>
    </div>
    <input type="text" style="margin-left: 18px;">
  </div>
  <div class="input-group input-group-lg" style="margin-top: 10px;">
    <div class="input-group-prepend">
      <span class="input-group-text col-11" style="background-color: black;color: aliceblue;">frais de notaire</span>
    </div>
    <input type="text">
  </div>
  </div>
  </div>
</form>